<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
		<link rel="stylesheet" th:href="@{/styles/main.css}" />
		<link rel="stylesheet" th:href="@{/styles/design.css}" />
	</head>
	<body>
		<h1>Design your Taco!</h1>
		<a id="home" href="/"><img th:src="@{/images/TacoCloud.png}" alt="Logo Taco Cloud" title="Taco Cloud"/></a>
		
		<form method="POST" th:object="${taco}">
			<span class="validationError"
		          th:if="${#fields.hasErrors('ingredients')}" 
		          th:errors="*{ingredients}">Ingredient Error</span>
		          
			<div class="grid">
				<div class="ingredient-group" id="wraps">
					<h3>Designate your Wrap:</h3>
					<div th:each="ingredient : ${wrap}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>	
				</div>
				<div class="ingredient-group" id="proteins">
					<h3>Pick your Protein:</h3>
					<div th:each="ingredient : ${protein}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="cheeses">
					<h3>Choose your Cheese:</h3>
					<div th:each="ingredient : ${cheese}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="veggies">
					<h3>Determine your Veggies:</h3>
					<div th:each="ingredient : ${veggies}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="sauces">
					<h3>Select your Sauce:</h3>
					<div th:each="ingredient : ${sauce}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
			</div>
			
			<div>
				<h3>Name your Taco creation:</h3>
				<input type="text" th:field="*{name}"/>
				<span class="validationError"
		            th:if="${#fields.hasErrors('name')}" 
		            th:errors="*{name}">Name Error</span>
				<br/>
				<button>Submit your Taco</button>
			</div>
		</form>
	</body>
</html>