<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
		<link rel="stylesheet" th:href="@{/styles/main.css}" />
	</head>
	<body>
		<form method="POST" th:action="@{/logout}" id="logoutForm">
	     	<input type="submit" value="Logout"/>
	    </form>
		<h1>Welcome to...</h1>
		<a id="home" href="/"><img th:src="@{/images/TacoCloud.png}" alt="Logo Taco Cloud" title="Taco Cloud"/></a>
		<h3>Live a only experience, <a id="design" th:href="@{/design}">disegn your Taco</a>.</h3>
	</body>
</html>
