<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-securtiy">
	
	<head>
			<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    	<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    	<!-- Optional JavaScript -->
	    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    	<!-- Self Styleheets -->
		<link rel="stylesheet" th:href="@{/styles/main.css}" />
		<link rel="stylesheet" th:href="@{/styles/form.css}" />
		<title>Taco Cloud</title>
	</head>
	
	<body>
		<div id="divSession">
			<div class="form-row" sec:authorize="isAuthenticated()">
			    <div class="col-md-3 mb-2">
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text" id="inputGroupPrependUsername">@</span>
			        </div>
			        <input type="text" name="username" id="username" class="form-control" placeholder="Username" aria-describedby="inputGroupPrependUsername" readonly>
			      </div>
			    </div>
			    <div class="col-md-3 mb-2">
			      <input type="text" name="passDecode" id="passDecode" class="form-control" placeholder="Password Decode" readonly>
			    </div>
			    <div class="col-md-5 mb-2">
			      <input type="text" name="passEncode" id="passEncode" class="form-control" placeholder="Password Encode" readonly>
			    </div>
			    <div class="col-md-1 mb-2">
			    	<form id="logoutForm" method="POST" th:action="@{/logout}">
				     	<input type="submit" value="Logout" class="btn btn-primary" />
				    </form>
			    </div>
			</div>
			<div class="form-row" sec:authorize="isAnonymous()">
				<form id="loginForm" method="POST" th:action="@{/login?error=false}">
				    <input type="submit" value="Login" class="btn btn-primary" />
			    </form>
			</div>
		</div>
		<h1>Welcome to...</h1>
		<a id="home" href="/"><img th:src="@{/images/TacoCloud.png}" alt="Logo Taco Cloud" title="Taco Cloud"/></a>
		<h3>Live a only experience, <a id="design" th:href="@{/design}">disegn your Taco</a>.</h3>
	</body>
	
</html>
